// fonts

@font-face {
  font-family: "Bebas Neue Bold";
  src: url("../assets/fonts/BebasNeue/BebasNeueBold.eot");
  src: url("../assets/fonts/BebasNeue/BebasNeueBold.eot?#iefix")
      format("embedded-opentype")
    url("../assets/fonts/BebasNeue/BebasNeueBold.woff") format("woff")
    url("../assets/fonts/BebasNeue/BebasNeueBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bebas Neue Regular";
  src: url("../assets/fonts/BebasNeue/BebasNeueRegular.eot");
  src: url("../assets/fonts/BebasNeue/BebasNeueRegular.eot?#iefix")
      format("embedded-opentype")
    url("../assets/fonts/BebasNeue/BebasNeueRegular.woff") format("woff")
    url("../assets/fonts/BebasNeue/BebasNeueRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Akrobat Regular";
  src: url("../assets/fonts/Akrobat/Akrobat-Regular.eot");
  src: url("../assets/fonts/Akrobat/Akrobat-Regular.eot?#iefix") format("embedded-opentype")
    url("../assets/fonts/Akrobat/Akrobat-Regular.woff") format("woff")
    url("../assets/fonts/Akrobat/Akrobat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Akrobat Bold";
  src: url("../assets/fonts/Akrobat/Akrobat-Bold.eot");
  src: url("../assets/fonts/Akrobat/Akrobat-Bold.eot?#iefix") format("embedded-opentype")
    url("../assets/fonts/Akrobat/Akrobat-Bold.woff") format("woff")
    url("../assets/fonts/Akrobat/Akrobat-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Akrobat Semibold";
  src: url("../assets/fonts/Akrobat/Akrobat-SemiBold.eot");
  src: url("../assets/fonts/Akrobat/Akrobat-SemiBold.eot?#iefix") format("embedded-opentype")
    url("../assets/fonts/Akrobat/Akrobat-SemiBold.woff") format("woff")
    url("../assets/fonts/Akrobat/Akrobat-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
